{% extends "blog/main.html" %}
{% load static %}
{% block content %}
    <div class="post-author text-center">
        <div class="author-avatar">
            <img src="{% static 'blog/sogi.jpg' %}" class="rounded" alt="">
        </div>
    
        <div class="author-info py-2">
            <h3 class="text-dark">Sogi</h3>
    
            <p class="text-secondary secondary-title">
                
            </p>
    
            <div class="post-tags d-flex flex-wrap justify-content-center">
                <a href="https://twitter.com/sxoxgxi" class="nav-link"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/soh_gee.nirmal/?theme=dark" class="nav-link"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/sxoxgxi" class="nav-link"><i class="fab fa-github"></i></a>
                <a href="https://discord.gg/5S6cdn8Dnd" class="nav-link"><i class="fab fa-discord"></i></a>
            </div>
        </div>
    
    </div>
{% endblock content %}
