{% extends "blog/main.html" %}
{% load static %}
{% block content %}
    <div class="post-author text-center">
        <div class="author-avatar">
            <img src="{% static 'blog/sogi.jpg' %}" class="rounded" alt="">
        </div>
    
        <div class="author-info py-2">
            <h3 class="text-dark">Sogi</h3>
    
            <p class="text-secondary secondary-title">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Recusandae, sequi! In harum laborum ipsa voluptatibus doloremque nulla, tempore aut
                veritatis.
            </p>
    
            <div class="post-tags d-flex flex-wrap justify-content-center">
                <a href="#" class="nav-link"><i class="fab fa-twitter"></i></a>
                <a href="#" class="nav-link"><i class="fab fa-instagram"></i></a>
                <a href="#" class="nav-link"><i class="fab fa-github"></i></a>
                <a href="#" class="nav-link"><i class="fab fa-discord"></i></a>
            </div>
        </div>
    
    </div>
{% endblock content %}
