{% extends "blog/main.html" %}
{% load static %}
{% load shuffle %}
{% block content %}
  
    <!-- Main Site -->
    <main id="site-main">

        <!-- Post Content -->
        <section class="container">
            <article id="post">
                <!-- article heading -->
                <div class="headings text-center">
                    
                    <div class="title">
                        <h2 class="text-title text-dark display-1">{{post}}</h2>
                    </div>
                    
                    <div class="meta">
                        <a href="#" class="link display-2 text-secondary px-1">
                            <i class="fas fa-user text-primary"></i> {{post.author|capfirst}}
                        </a>
                        <a href="#" class="link display-2 text-secondary px-1">
                            <i class="fas fa-clock text-primary"></i> {{post.created|timesince}} ago
                        </a>
                        <a href="#" class="link display-2 text-secondary px-1">
                            <i class="fas fa-comments text-primary"></i> {{number}} comment{{number|pluralize:'s'}}
                        </a>
                        <a href="#" class="link display-2 text-secondary px-1">
                            <i class="fas fa-tag text-primary"></i> {{post.topic}}
                        </a>
                    </div>

                </div>

                <!-- thumbnail  -->
                <div class="thumbnail mt-3">
                    <img src="{{post.thumbnail.url}}" class="thumbnail" alt="">
                </div>

                <!-- content -->
                <div class="content text-dark display-2 secondary-title mt-3">
                    <p>{{post.content|safe}}
                    </p>
                </div>
            </article>

            <!-- post footer -->
            <div class="post-footer mb-3">
                <div class="post-tags d-flex flex-wrap justify-content-center">
                    {% for topic in topics %}
                    {% if forloop.counter <= 3 %}
                    <a href="#" class="nav-link btn bg-light">{{topic}}</a>
                    {% endif %}
                    {% endfor %}
                </div>

                <div class="post-author text-center">
                    <div class="author-avatar">
                        <img src="{% static 'blog/sogi.jpg' %}" class="rounded" alt="">
                    </div>

                    <div class="author-info py-2">
                        <h3 class="text-dark">{{post.author|capfirst}}</h3>

                        <p class="text-secondary secondary-title">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Recusandae, sequi! In harum laborum ipsa voluptatibus doloremque nulla, tempore aut
                            veritatis.
                        </p>

                        <div class="post-tags d-flex flex-wrap justify-content-center">
                            <a href="https://twitter.com/sxoxgxi" class="nav-link"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.instagram.com/soh_gee.nirmal/?theme=dark" class="nav-link"><i class="fab fa-instagram"></i></a>
                            <a href="https://github.com/sxoxgxi" class="nav-link"><i class="fab fa-github"></i></a>
                            <a href="https://discord.gg/5S6cdn8Dnd" class="nav-link"><i class="fab fa-discord"></i></a>
                        </div>
                    </div>

                </div>

                <!-- post related -->
                <div class="post-related py-2">
                    <div class="row justify-content-center">
                        {% if previous_post != "Dosen't exist" %}
                        <div class="prev">
                            <div class="py-2">
                                <a href="{% url 'post' previous_post.id %}" class="display-2 text-dark">
                                    <i class="fas fa-chevron-left"></i>
                                    Previous Post
                                </a>
                            </div>
                            <article class="article text-center">
                                <div class="d-flex">
                                    <a href="{% url 'post' previous_post.id %}">
                                        <img src="{{previous_post.thumbnail.url}}" class="object-fit" alt="">
                                    </a>
                                    <div class="cart-body px-1">
                                        <div class="category">
                                            <a href="#" class="link text-primary text-secondary">{{previous_post.topic}}</a>
                                        </div>
                                        <a href="{% url 'post' previous_post.id %}" class="text-title display-2 text-dark">
                                            {{previous_post.title|capfirst}}
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        {% endif %}
                        {% if next_post != "Dosen't exist" %}
                        <div class="next text-right">
                            <div class="py-2">
                                <a href="{% url 'post' next_post.id %}" class="display-2 text-dark">
                                    Next Post
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </div>
                            <article class="article text-center">
                                <div class="d-flex">
                                    <div class="cart-body px-1">
                                        <div class="category">
                                            <a href="#" class="link text-primary text-secondary">{{next_post.topic}}</a>
                                        </div>
                                        <a href="{% url 'post' next_post.id %}" class="text-title display-2 text-dark">
                                            {{next_post.title|capfirst}}
                                        </a>
                                    </div>
                                    <a href="#">
                                        <img src="{{next_post.thumbnail.url}}" class="object-fit" alt="">
                                    </a>
                                </div>
                            </article>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="post-comments py-2">
                    <h3 class="text-center display-1 secondary-title py-2">{{number}} Comment{{number|pluralize:'s'}}</h3>
                    <div class="comment-details">
                        <div class="comment-item py-2">
                            {% for comment in comments %}
                            <div class="d-flex">
                                <div class="comment-content">
                                    <h5 class="display-2 m-0">{{comment.name|capfirst}}</h5>
                                    <p class="title-secondary text-dark">
                                    <i><span class="secondary-title text-secondary display-3">{{comment.created}}</span></i> | {{comment.body|capfirst}}
                                    </p>
                                </div>
                            </div>
                            <hr>
                            {% empty %}
                            <h4 class="text-center display-2 text-title py-2">Be the first human to comment here!</h4>
                            {% endfor %}
                        </div>
                    </div>
                    <h3 class="text-center display-1 secondary-title py-2">Leave Comment</h3>

                    <div class="comment-form">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="d-flex justify-content-between flex-wrap">
                                <input name="name" type="text" class="form-control " placeholder="Name">
                                <input name="email" type="email" class="form-control" placeholder="Email">
                            </div>
                            <textarea name="body" class="form-control mt-3" placeholder="Message" rows="10"></textarea>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary display-2 text-light mt-2">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <!-- .post footer -->

        </section>
        <!-- .Post Content -->

        <!-- Swiper slider -->
        <section class="slider">
            <div class="container">

                <!-- Slider main container -->
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        {% for article in posts_random %}
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <a href="{% url 'post' article.id %}">
                                <img src="{{article.thumbnail.url}}" class="img-fluid" alt="">
                            </a>
                        </div>
                        <!-- Slides -->
                        {% endfor %}
                    
                    </div>
                </div>

            </div>
        </section>
        <!-- .Swiper slider -->

    </main>
{% endblock content %}