{% extends "blog/main.html" %}
{% load static %}
{% block content %}
  
    <!-- Main Site -->
    <main id="site-main">

        <!-- Post Content -->
        <section class="container">
            <article id="post">
                <!-- article heading -->
                <div class="headings text-center">
                    <div class="category">
                        <a href="#" class="nav-link">Travel</a>
                    </div>

                    <div class="title">
                        <h2 class="text-title text-dark display-1">{{post}}</h2>
                    </div>

                    <div class="meta">
                        <a href="#" class="link display-2 text-secondary px-1">
                            <i class="fas fa-user text-primary"></i> {{post.author|capfirst}}
                        </a>
                        <a href="#" class="link display-2 text-secondary px-1">
                            <i class="fas fa-clock text-primary"></i> {{post.created|timesince}} ago
                        </a>
                        <a href="#" class="link display-2 text-secondary px-1">
                            <i class="fas fa-comments text-primary"></i> 3
                        </a>
                    </div>

                </div>

                <!-- thumbnail  -->
                <div class="thumbnail mt-3">
                    <img src="{% static 'blog/cat6.jpg' %}" class="thumbnail" alt="">
                </div>

                <!-- content -->
                <div class="content text-dark display-2 secondary-title mt-3">
                    <p>{{post.content|safe}}
                    </p>
                </div>
            </article>

            <!-- post footer -->
            <div class="post-footer mb-3">
                <div class="post-tags d-flex flex-wrap justify-content-center">
                    <a href="#" class="nav-link btn bg-light">Travel</a>
                    <a href="#" class="nav-link btn bg-light">Food</a>
                    <a href="#" class="nav-link btn bg-light">Lifestyle</a>
                    <a href="#" class="nav-link btn bg-light">Techonogy</a>
                    <a href="#" class="nav-link btn bg-light">Fashion</a>
                </div>

                <div class="post-author text-center">
                    <div class="author-avatar">
                        <img src="{% static 'blog/sogi.jpg' %}" class="rounded" alt="">
                    </div>

                    <div class="author-info py-2">
                        <h3 class="text-dark">{{post.author|capfirst}}</h3>

                        <p class="text-secondary secondary-title">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Recusandae, sequi! In harum laborum ipsa voluptatibus doloremque nulla, tempore aut
                            veritatis.
                        </p>

                        <div class="post-tags d-flex flex-wrap justify-content-center">
                            <a href="#" class="nav-link"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="nav-link"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="nav-link"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="nav-link"><i class="fab fa-dribbble"></i></a>
                        </div>
                    </div>

                </div>

                <!-- post related -->
                <div class="post-realted py-2">
                    <div class="row justify-content-center">
                        <div class="prev">
                            <div class="py-2">
                                <a href="#" class="display-2 text-dark">
                                    <i class="fas fa-chevron-left"></i>
                                    Previous Post
                                </a>
                            </div>
                            <article class="article text-center">
                                <div class="d-flex">
                                    <a href="#">
                                        <img src="./assets/img9.jpg" class="object-fit" alt="">
                                    </a>
                                    <div class="cart-body px-1">
                                        <div class="category">
                                            <a href="#" class="link text-primary text-secondary">Fashion</a>
                                        </div>
                                        <a href="#" class="text-title display-1 text-dark">
                                            Looking for some feedback for this rejected track
                                            technology
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="next text-right">
                            <div class="py-2">
                                <a href="#" class="display-2 text-dark">
                                    Next Post
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </div>
                            <article class="article text-center">
                                <div class="d-flex">
                                    <div class="cart-body px-1">
                                        <div class="category">
                                            <a href="#" class="link text-primary text-secondary">Fashion</a>
                                        </div>
                                        <a href="#" class="text-title display-1 text-dark">
                                            Looking for some feedback for this rejected track
                                            technology
                                        </a>
                                    </div>
                                    <a href="#">
                                        <img src="./assets/img8.jpg" class="object-fit" alt="">
                                    </a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>

                <div class="post-comments py-2">
                    <h3 class="text-center display-1 secondary-title py-2">3 Comments</h3>

                    <div class="comment-details">
                        <div class="comment-item py-2">
                            <div class="d-flex">
                                <div class="avatar px-2">
                                    <img src="{% static 'blog/cat1.jpg' %}" class="rounded" alt="">
                                </div>
                                <div class="comment-content">
                                    <h5 class="display-2 m-0">Nirmal</h5>
                                    <p class="title-secondary text-dark">
                                        This is nice
                                    </p>
                                </div>
                            </div>
                            <!-- comment reply -->
                            <div class="reply py-2">
                                <div class="d-flex">
                                    <div class="avatar px-2">
                                        <img src="{% static 'blog/cat3.jpg' %}" class="rounded" alt="">
                                    </div>
                                    <div class="comment-content">
                                        <h5 class="display-2 m-0">Robert</h5>
                                        <p class="title-secondary text-dark">
                                            Lorem ipsum this is dyum
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="comment-item py-2">
                            <div class="d-flex">
                                <div class="avatar px-2">
                                    <img src="{% static 'blog/cat1.jpg' %}" class="rounded" alt="">
                                </div>
                                <div class="comment-content">
                                    <h5 class="display-2 m-0">Nirmal</h5>
                                    <p class="title-secondary text-dark">
                                        Ikr this is good
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <h3 class="text-center display-1 secondary-title py-2">Leave Comment</h3>

                    <div class="comment-form">
                        <div class="d-flex justify-content-between flex-wrap">
                            <input type="text" class="form-control " placeholder="Name">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <textarea class="form-control mt-3" placeholder="Message" rows="10"></textarea>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary display-2 text-light mt-2">Submit</button>
                        </div>
                    </div>
                </div>

            </div>
            <!-- .post footer -->

        </section>
        <!-- .Post Content -->

        <!-- Swiper slider -->
        <section class="slider">
            <div class="container">

                <!-- Slider main container -->
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="{% static 'blog/sogi.jpg' %}" class="img-fluid" alt="">
                            </a>
                        </div>
                        <!-- Slides -->
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="{% static 'blog/cat1.jpg' %}" class="img-fluid" alt="">
                            </a>
                        </div>
                        <!-- Slides -->
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="{% static 'blog/cat2.jpg' %}" class="img-fluid" alt="">
                            </a>
                        </div>
                        <!-- Slides -->
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="{% static 'blog/cat3.jpg' %}" class="img-fluid" alt="">
                            </a>
                        </div>
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="{% static 'blog/cat4.jpg' %}" class="img-fluid" alt="">
                            </a>
                        </div>
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="{% static 'blog/cat5.jpg' %}" class="img-fluid" alt="">
                            </a>
                        </div>
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="{% static 'blog/cat6.jpg' %}" class="img-fluid" alt="">
                            </a>
                        </div>
                        <!-- Slides -->
                    
                    </div>
                </div>

            </div>
        </section>
        <!-- .Swiper slider -->

    </main>
{% endblock content %}