{% extends "blog/main.html" %}
{% load static %}
{% block content %}
<main id="site-main">
    <aside id="sidebar" class="px-1">
    
        <!-- categories -->
        <section class="categories">
            <h2 class="text-center text-dark">Categories</h2>
            {% for topic in post.topic %} 
            <a href="#" class="d-flex justify-content-between text-dark">
                <span>{{topic}}</span>
                <span>{{topic.all.count}}</span>
            </a>
            {% endfor %}
            <!-- <a href="#" class="d-flex justify-content-between text-dark">
                <span>Graphic</span>
                <span>8</span>
            </a>
            <a href="#" class="d-flex justify-content-between text-dark">
                <span>Illistration</span>
                <span>3</span>
            </a>
            <a href="#" class="d-flex justify-content-between text-dark">
                <span>Fashion</span>
                <span>2</span>
            </a> -->
        </section>
    </aside>
</main>
{% endblock content %}